<div class="w-full z-10 md:pl-96 md:ml-10 fixed flex justify-between items-center bg-white px-4 h-24 shadow">
  <div class="md:block hidden"></div>
  <button class="md:hidden block"><img src="/icons/ic_menu.png" width="25"/></button>
  <div class="md:pr-16 flex items-center">
    <h1 class="text-black mr-3"><%= user.name%></h1>
    <a href="/admin/signout">
      <img src="/icons/ic_logout.png" width="30"/>
    </a>
  </div>
</div>
<div class="h-24"></div>