<div class="md:p-8 p-4">
  <%- include("../../alert.ejs")%>
  <h1 class="md:text-5xl text-3xl text-gray-900 md:mb-10 mb-5">Edit Password</h1>
  <div class="sm:w-3/4 lg:w-1/3 xl:w-96 w-full bg-white px-4 py-6 rounded-md shadow-md">
    <form action="/superadmin/edit-password?_method=PUT" method="post">
      <input type="hidden" name="_id" value="<%= admin._id%>"/>
      <div class="mb-3">
        <label for="oldPassword" class="block mb-3 text-sm font-medium text-gray-900">Password Lama</label>
        <input type="password" id="oldPassword" name="oldPassword" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="Masukkan password lama"/>
      </div>
      <div class="mb-3">
        <label for="newPassword" class="block mb-3 text-sm font-medium text-gray-900">Password Baru</label>
        <input type="password" id="newPassword" name="newPassword" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="Masukkan password baru"/>
      </div>
      <div class="mb-3">
        <label for="confirmPassword" class="block mb-3 text-sm font-medium text-gray-900">Konfirmasi Password Baru</label>
        <input type="password" id="confirmPassword" name="confirmPassword" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="Masukkan nomor handphone"/>
      </div>
      
      <div class="flex justify-end pt-2">
        <a href="/superadmin/admin" class="px-4 bg-transparent p-3 rounded-lg text-blue-500 hover:bg-gray-100 hover:text-blue-400 mr-2" type="button">
          Batal
        </a>
        <button class="px-4 bg-blue-700 p-3 rounded-lg text-white hover:bg-blue-600" type="submit">
          Simpan
        </button>
      </div>
    </form>
  </div>
</div>